@CHARSET "UTF-8";
/* 기본 */
#content.midContent {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}
button:focus{outline : none}
#content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
li{
   list-style: none;
}
figcaption, figure, main {
    display: block;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* font-family: 'Noto Sans KR', sans-serif; */
}
main {
    display: block;
}
body {
    background: #F7F7F7;
    line-height: 1.43;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}
body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #6D6042;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/* sSettingBand gContentCardShadow */
.sSettingBand {
    position: relative;
}
.gContentCardShadow {
    background-color: #fff;
    -webkit-box-shadow: 0 1.4px 1.3px 0 rgb(62 73 89 / 10%);
    box-shadow: 0 1.4px 1.3px 0 rgb(62 73 89 / 10%);
}
/* uHeaderWrap */
.uHeaderWrap {
    position: relative;
    padding: 0 22px;
    border-bottom: 1px solid #f0f2f4;
}
div {
    display: block;
}
/* header */
.uHeaderWrap .header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 61px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    word-break: break-word;
}
article, aside, footer, header, nav, section {
    display: block;
}
.uHeaderWrap .header .title {
    font-size: 18px;
    font-weight: 600;
    color: #50401B;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.uHeaderWrap .header .count {
    margin-left: 5px;
    font-size: 18px;
    font-weight: 500;
}
em {
    font-style: normal;
}
.uHeaderWrap .header .btnsWrap {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
div {
    display: block;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.uButton {
    position: relative;
    min-width: 90px;
    height: 34px;
    padding: 0 15px;
    background: #474e60;
    border-radius: 1px;
    font-size: 13px;  
    font-weight: 500;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
}
button.uButton {
    line-height: 1;
}
.uButton[class*=sf_] {
    background: #fff;
    border: 1px solid transparent;
}
.sf_tBorderOpacity {
    border-color: #50401B!important;
}
.sf_color {
    color: #50401B!important;
}
/* cMemberList gMal22 gMar22 */
.gMal22 {
    margin-left: 22px!important;
}

.gMar22 {
    margin-right: 22px!important;
}
ol, ul {
    list-style: none;
}
button, dd, dl, dt, fieldset, ol, p, ul {
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.cMemberList .uFlexItem:first-child {
    border-top-width: 0;
}

.cMemberList .uFlexItem {
    min-height: 88px;
    border-top: 1px solid #f5f5f5;
    padding: 15px 0;
}
.uFlexItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
/* uProfile -size50 _btnProfileImage */
.uFlexItem .uProfile {
    display: block;
    margin-right: 12px;
}

[tabindex], a[role=button], button, input, textarea {
    outline: 0;
}
.uProfile {
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 0;
}
a {
    color: #222;
    text-decoration: none;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.uProfile.-size50 .profileInner {
    width: 50px;
    height: 50px;
}
.uProfile .profileInner {
    display: block;
    overflow: hidden;
    position: relative;
    background-color: #ebebeb;
    border-radius: 50%;
    font-size: 0;
}
.uProfile.-size50 .profileInner:before {
    width: 25px;
    height: 25px;
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    content: '';
    background-image: url(https://ssl.pstatic.net/cmstatic/webclient/dres/20210105172030/images/spr_icons.png);
    background-position: -205px -490px;
    margin: -12px 0 0 -12px;
}
.uProfile .profileInner:before {
    position: absolute;
    left: 50%;
    top: 50%;
}
.uProfile .profileInner img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    vertical-align: top;
}
img {
    border-style: none;
}
img[Attributes Style] {
    width: 50px;
    aspect-ratio: auto 50 / 50;
    height: 50px;
}
.uFlexItem .body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1;
    min-width: 0;
    line-height: 1.4;
    display: block;
}
.cMemberList .body .-flex:first-child {
    margin-top: 0;
}

.sSettingBand .uFlexItem .body .text {
    font-weight: 600;
}
.cMemberList .body .-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 7px;
    max-width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.uFlexItem .body .text {
    font-size: 14px;
    font-weight: 700;
    color: #50401B;
    margin-top: 3px;
}
.uFlexItem .body .coLeader, .uFlexItem .body .coleader, .uFlexItem .body .leader {
    display: block;
    padding: 0 6px;
    height: 17px;
    line-height: 17px;
    background: #999;
    border-radius: 17px;
    vertical-align: top;
    white-space: nowrap;
    margin-left: 5px;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
}
.gMal0 {
    margin-left: 0!important;
}
em {
    font-style: normal;
}
.uFlexItem .body .leader {
    background: #F7D078;
    width: 40px;
    color: #50401B; 
}
/* text -ellipsis gMat6 */
.sSettingBand .uFlexItem .body .text {
    font-weight: 600;
}
.uFlexItem .body .-ellipsis, .uFlexItem .body .ellipsis {
    display: block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.uFlexItem .body .text {
    font-size: 14px;
    font-weight: 700;
    color: #50401B;
    margin-top: 3px;
}
.gMat6 {
    margin-top: 6px!important;
}
/* sSettingBand */
.sSettingBand {
    position: relative;
}
.sSettingBand .linkMemeberPrower {
    margin-top: 10px;
    padding: 25px 20px;
    text-align: center;
    border-bottom: 1px solid #f0f2f4;
}
.sSettingBand .linkMemeberPrower .text {
    font-size: 13px;
    font-weight: 400;
    color: #50401B;
}
.sSettingBand .linkMemeberPrower .moreLink {
    font-size: 13px;
    font-weight: 400;
    color: #50401B;
    display: inline-block;
    margin-top: 15px;
    text-decoration: underline;
    vertical-align: top;
}
/* 버튼 */
/* introOption */
.sSettingBand .cBandIntro .introOption {
    margin-top: 15px;
}

.cBandIntro .introOption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 14px;
}
.cIntroEditor .introOption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
}
/* introOptionBox gTaC gPat15 gPab17 */
.cBandIntro .introOption .introOptionBox {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 14px;
    font-weight: 400;
    color: #50401B;
}

.cIntroEditor .introOption .introOptionBox {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    font-size: 13px;
    font-weight: 400;
    color: #50401B;
}
.gPab17 {
    padding-bottom: 17px!important;
}
.gPat15 {
    padding-top: 15px!important;
}
.gTaC {
    text-align: center!important;
}
/* 버튼 */
.uButton.-confirm {
    background: #50401B;  
	min-width: 100px;
    height: 35px;
    padding: 0 10px;
    font-size: 0.8rem;
    border-radius: 25px;
}

button.uButton {
    line-height: 1;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.uButton {
    position: relative;
    min-width: 90px;
    height: 34px;
    padding: 0 15px;
    background: #474e60;
    border-radius: 1px;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
}
[tabindex], a[role=button], button, input, textarea {
    outline: 0;
}
button, dd, dl, dt, fieldset, ol, p, ul {
    margin: 0;
    padding: 0;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
}
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
button {
    border: 0;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
}
.header.beeHeaderColor{
   background-color: white;
}
.navi_menu_item>a {
    text-decoration: none;
    line-height: 34px;
    display: block;
    width: 100%;
    height: 100%;
    color: #50401B;
}
#beeNaviStyleOnly>a{
	text-decoration: none;
}
.uButton.-sizeS {
    background: #50401B;
}