@CHARSET "UTF-8";
/* 기본 */
#content.midContent {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}
#content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
figcaption, figure, main {
    display: block;
}
button:focus{outline : none}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
main {
    display: block;
}
body {
    background: #F7F7F7;
    line-height: 1.43;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}
body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #6D6042;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/* sSettingBand gContentCardShadow */
.sSettingBand {
    position: relative;
}
.gContentCardShadow {
    background-color: #fff;
    -webkit-box-shadow: 0 1.4px 1.3px 0 rgb(62 73 89 / 10%);
    box-shadow: 0 1.4px 1.3px 0 rgb(62 73 89 / 10%);
}
/* uHeaderWrap -h50 */
.uHeaderWrap {
    position: relative;
    padding: 0 22px;
    border-bottom: 1px solid #f0f2f4;
}

.-h50 {
    height: 50px!important;
}
.uHeaderWrap.-h50 .header {
    height: 50px;
}
.uHeaderWrap .header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 61px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    word-break: break-word;
}
.uHeaderWrap.-h50 .header .title {
    font-size: 16px;
}
.uHeaderWrap .header .title {
    font-size: 18px;
    font-weight: 600;
    color: #50401B;
}
/* sSettingList */
.sSettingBand .sSettingList {
    padding: 0 22px;
}

ol, ul {
    list-style: none;
}
button, dd, dl, dt, fieldset, ol, p, ul {
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.sSettingBand .sSettingItem.-tLineNone, .sSettingBand .sSettingItem:first-child {
    border-top-width: 0;
}
.sSettingBand .sSettingItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    min-height: 75px;
    border-top: 1px solid #f0f2f4;
    text-align: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.sSettingBand .sSettingItem:before {
    content: '';
    min-height: inherit;
    font-size: 0;
    display: block;
}
.sSettingBand .sSettingItem .itemContent {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1;
    line-height: 1.3;
}
div {
    display: block;
}
.sSettingBand .sSettingItem .label {
    display: block;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
    font-weight: 400;
    color: #50401B;
}
label {
    cursor: default;
}
/* itemSide -wAuto */
.sSettingBand .sSettingItem .itemSide.-wAuto {
    width: auto;
}
.sSettingBand .sSettingItem .itemSide {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 92px;
    text-align: right;
    line-height: 1.3;
}
.uSelect.-bg {
    background: #fcfcfc;
}
.uSelect {
    position: relative;
    display: inline-block;
    height: 36px;
    border: solid 1px #ebebeb;
    vertical-align: top;
}
.uSelect:before {
    z-index: 1;
    vertical-align: top;
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -4px;
    width: 12px;
    height: 8px;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    content: '';
    background-image: url(https://ssl.pstatic.net/cmstatic/webclient/dres/20210105172030/images/spr_icons.png);
    background-position: -559px -535px;
}
/* _selectGender gColorBk4 */
.uSelect .select, .uSelect input, .uSelect select {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 0 33px 0 10px;
    border: 0;
    border-radius: 0;
    background: 0 0;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 12px;
    font-weight: 400;
    color: #50401B;
}
.gColorBk4 {
    color: #50401B!important;
}
/* uTableList -wAuto -inline gMal20 */
.uTableList.-wAuto {
    width: auto;
    table-layout: auto;
}
.uTableList.-inline {
    display: inline-table;
}
.uTableList {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.gMal20 {
    margin-left: 20px!important;
}
/* cell gColorBk4 */
.uTableList .cell {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.gColorBk4 {
    color: #50401B!important;
}
label {
    cursor: default;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.gPal10 {
    padding-left: 10px!important;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.uSelect.-bg {
    background: #fcfcfc;
}
.uSelect {
    position: relative;
    display: inline-block;
    height: 36px;
    border: solid 1px #ebebeb;
    vertical-align: top;
}
.uSelect:before {
    z-index: 1;
    vertical-align: top;
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -4px;
    width: 12px;
    height: 8px;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    content: '';
    background-image: url(https://ssl.pstatic.net/cmstatic/webclient/dres/20210105172030/images/spr_icons.png);
    background-position: -559px -535px;
}
/* cell gPal16 gPar16 gColorBk4 */
.gPal16 {
    padding-left: 16px!important;
}
.gPar16 {
    padding-right: 16px!important;
}
.gColorBk4 {
    color: #50401B!important;
}
/* 버튼 */
.sSettingBand .btnFooter {
    padding: 30px 0;
    border-top: 1px solid #f0f2f4;
    text-align: center;
}
.uButton.-confirm {
    background: #50401B;
}

.uButton.-sizeL {
   min-width: 100px;
    height: 35px;
    padding: 0 10px;
    font-size: 0.8rem;
    border-radius: 25px;
    font-weight: 400;
}
button.uButton {
    line-height: 1;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.uButton {
    position: relative;
    min-width: 90px;
    height: 34px;
    padding: 0 15px;
    background: #474e60;
    border-radius: 1px;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
}
[tabindex], a[role=button], button, input, textarea {
    outline: 0;
}
button {
    border: 0;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
}

button, dd, dl, dt, fieldset, ol, p, ul {
    margin: 0;
    padding: 0;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
/* .header.beeHeaderColor{
   background-color: white;
} */
li{
   list-style: none;
}