@CHARSET "UTF-8";
* {
	box-sizing: border-box;
}
#myModalLabel {
    font-size: 19px;
    color: #6D6042;
    margin: auto;
    font-weight: normal;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0; 
}
.modal-body >span {
    font-size: 1rem;
    color: #6D6042;
    font-weight: bold;
    text-align: center;
}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 0px ;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0rem 2rem;
    border-bottom: 1px solid #dee2e6;
}
#url{
width : 100%;
background-color :#F9F9F9;
border : 1px solid #E8E8E8;
font-size : 14px;
color : #6D6042;
margin-top : 5%;
margin-bottom : 5%;
}

#closeBtn{
color : #F7D078;
}

#withDraw{
background-color : #50401B;
border-radius : 50px;
border : none;
margin-right: 41%;
}
.subTxtbeesWithdraw {
    display: block;
    margin-top: 6px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #666;
}
.subTxt.beesWithdraw{
text-align: inherit;
}
/* 기본 */
#content.midContent {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}
#content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
figcaption, figure, main {
    display: block;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* font-family: 'Noto Sans KR', sans-serif; */
}
main {
    display: block;
}
body {
    background: #eef0f3;
    line-height: 1.43;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #6D6042;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/* sSettingBand gContentCardShadow */
.sSettingBand {
    position: relative;
}
div {
    display: block;
}
.gContentCardShadow {
    background-color: #fff;
    -webkit-box-shadow: 0 1.4px 1.3px 0 rgb(62 73 89 / 10%);
    box-shadow: 0 1.4px 1.3px 0 rgb(62 73 89 / 10%);
}
/* uHeaderWrap -h50 */
.uHeaderWrap {
    position: relative;
    padding: 0 22px;
    border-bottom: 1px solid #f0f2f4;
}
.-h50 {
    height: 50px!important;
}
.uHeaderWrap.-h50 .header {
    height: 50px;
}
.uHeaderWrap .header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 61px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    word-break: break-word;
}
.uHeaderWrap.-h50 .header .title {
    font-size: 16px;
}
.uHeaderWrap .header .title {
    font-size: 18px;
    font-weight: 600;
    color: #50401B;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.uTabNav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 44px;
    background: #fafbfc;
    font-size: 0;
}
/* btn _moveToWithdrawalMemberPage sf_color -on */
.uTabNav .btn.-on {
    padding-top: 1px;
    border-radius: 0px;
    border-bottom: 2px solid;
    font-weight: 600;
}
.uTabNav .btn:not(.-on) {
    color: #50401B!important;
}
.uTabNav .btn {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 100%;
    font-size: 14px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #50401B;
}
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.skin9 .sf_afterColor:after, .skin9 .sf_beforeColor:before, .skin9 .sf_color, .skin9.sf_afterColor:after, .skin9.sf_beforeColor:before, .skin9.sf_color {
    color: #50401B!important;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
[tabindex], a[role=button], button, input, textarea {
    outline: 0;
}
button {
    border: 0;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
}
button, dd, dl, dt, fieldset, ol, p, ul {
    margin: 0;
    padding: 0;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
}
.skin9 .sf_afterColor:after, .skin9 .sf_bAfterColor:after, .skin9 .sf_bBeforeColor:before, .skin9 .sf_beforeColor:before, .skin9 .sf_color {
    color: #50401B!important;
}
.uTabNav:after {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #ebebeb;
    content: '';
}
/* leaveMemberList */
.sSettingBand .leaveMemberList {
    padding: 0 22px;
}
/* summaryWrap _summaryWrap */
.sSettingBand .leaveMemberList .summaryWrap {
    margin: 0 -22px;
}
/* subTitle gMat18 _memberCount */
.sSettingBand .leaveMemberList .subTitle {
    padding-left: 22px;
}
.gMat18 {
    margin-top: 18px!important;
}
.gFw6 {
    font-weight: 600!important;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/* sf_color _memberCountText */
.skin9 .sf_afterColor:after, .skin9 .sf_bAfterColor:after, .skin9 .sf_bBeforeColor:before, .skin9 .sf_beforeColor:before, .skin9 .sf_color {
    color: #50401B!important;
}
ol, ul {
    list-style: none;
}
button, dd, dl, dt, fieldset, ol, p, ul {
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.cMemberList .uFlexItem:first-child {
    border-top-width: 0;
}

.cMemberList .uFlexItem {
    min-height: 40px;
    border-top: 1px solid #f5f5f5;
}
.uFlexItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.uFlexItem .uProfile {
    display: block;
    margin-right: 12px;
}

.uProfile {
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 0;
}
a {
    color: #50401B;
    text-decoration: none;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.uFlexItem .body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1;
    min-width: 0;
    line-height: 1.4;
    display: block;
}
.sSettingBand .uFlexItem .body .text {
    font-weight: 600;
}

.uFlexItem .body .-ellipsis, .uFlexItem .body .ellipsis {
    display: block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.uFlexItem .body .text {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-top: 3px;
}
.cMemberList .body .subText {
    margin-top: 2px;
}

.uFlexItem .body .subText {
    display: block;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 400;
    color: #666;
}
.uFlexItem .body .-ellipsis, .uFlexItem .body .ellipsis {
    display: block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.uFlexItem .body .date {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #999;
}

.uFlexItem .body .-ellipsis, .uFlexItem .body .ellipsis {
    display: block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.uFlexItem .etc {
    display: block;
    margin-left: 26px;
    text-align: right;
    font-size: 0;
}
/* _btnReleaseBlockMember uButton -sizeS -cancel */
.uButton.-cancel {
    border: 1px solid #50401B;
    background: #fff;
    color: #50401B;
}
.uButton.-sizeS {
    min-width: 41px;
    height: 26px;
    padding: 0 10px;
    font-size: 12px;
}
button.uButton {
    line-height: 1;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.uButton {
    position: relative;
    min-width: 90px;
    height: 34px;
    padding: 0 15px;
    background: #474e60;
    border-radius: 1px;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
}
[tabindex], a[role=button], button, input, textarea {
    outline: 0;
}
button, input, select, textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Segoe UI Symbol","Android Emoji",EmojiSymbols;
}
button, dd, dl, dt, fieldset, ol, p, ul {
    margin: 0;
    padding: 0;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
button {
    border: 0;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
}
.profileInner img {
    border-radius: 50%; 
}
/* uCheck  -checkbox  */
.lyWrap .modalContentWrap .flexList .etc>* {
    vertical-align: middle;
}
.uCheck {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
/* checkInput _chkMember */
.uCheck .checkInput {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
}
[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.uCheck.-checkbox .checkLabel {
    min-width: 20px;
    min-height: 20px;
}

.uCheck .checkLabel {
    position: relative;
    display: block;
    padding-left: 20px;
    cursor: pointer;
}
.uCheck.-checkbox .checkLabel .shape {
    width: 20px;
    height: 20px;
    margin-top: -10px;
}

.uCheck .checkLabel .shape {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
}
.uCheck.-checkbox .checkLabel .shape:after, .uCheck.-checkbox .checkLabel .shape:before {
    width: 20px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    content: '';
    background-image: url(https://ssl.pstatic.net/cmstatic/webclient/dres/20210105172030/images/spr_icons_f.png);
    background-position: -280px -137px;
}
.uCheck.-checkbox .checkInput:checked+.checkLabel .shape:after {
    opacity: 1;
}

.uCheck.-checkbox .checkLabel .shape:after {
    left: 0;
    top: 0;
    opacity: 0;
    background-position: -280px -159px;
}
.uCheck .checkLabel .shape:after {
    position: absolute;
    border-radius: 50%;
    background-color: #F7D078;
}
.uCheck .checkLabel .shape:after, .uCheck .checkLabel .shape:before {
    display: block;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    content: '';
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.uButton.-confirm2.beesModalCancle{
	border: 1px solid #50401B;
    background-color: #FFFFFF;
    color: #50401B;
}
.uButton.-confirm2.beesModalDo{
	border: 0px;
    background-color: #50401B;
    color: #FFFFFF;
}
.uButton.-sizeS {
    min-width: 60px;
    height: 25px;
    padding: 0 10px;
    font-size: 0.8rem;
    border-radius: 25px;
}