* {
	font-family: "Noto Sans KR", sans-serif;
}

body {
	background-color: #F9F9F9;
}

#bees-contents {
	margin: 0;
}

#bees-side-profile {
	background-color: white;
	width: 75%;
	height: auto;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#bees-side-chatting {
	background-color: white;
	width: 75%;
	height: auto;
	margin: auto;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#bees-side-profile>table {
	margin: auto;
	width: 95%;
	height: 100%;
}

#bees-side a {
	text-decoration: none;
	color: #f7d078;
}

#bees-cover {
	height: 130px;
	border: 0.5px solid light-gray;
	background-position:center center;
	background-repeat:no-repeat;
	background-size: cover;
}

#bees-name {
	padding-left: 5px;
	font-size: 1.5rem;
	font-weight: 300;
}

#bees-member-count {
	width: 30%;
	padding-left: 5px;
	font-size: 0.9rem;
	font-weight: 200;
}

#bees-invite {
	font-size: 0.8rem;
	font-weight: 200;
}

#bees-note {
	padding-left: 5px;
	font-size: 0.8rem;
	font-weight: 100;
}

#bees-public {
	padding: 0 5px 5px 5px;
	font-size: 0.7rem;
	font-weight: 100;
}

#bees-cont {
	padding: 0 5px 5px 5px;
	font-size: 0.8rem;
	font-weight: 100;
}

#bees-setting {
	padding-left: 5px;
	padding-bottom: 15px;
	font-size: 0.8rem;
	font-weight: 200;
}

#join-btn {
	width: 95%;
	height: 40px;
	background-color: #f7d078;
	border: 0px solid white;
	color: white;
}

#join-box {
	font-size: 0.8rem;
	font-weight: 200;
	padding-left: 5px;
}

.innerline {
	padding-left: 5px;
	padding-right: 5px;
}

#bees-side-chatting>table {
	margin: auto;
	width: 95%;
	height: 100%;
}

#chatting-header {
	width: 70%;
	padding-left: 5px;
	font-size: 0.9rem;
	font-weight: 300;
}

#new-chat {
	padding-right: 5px;
	text-align: right;
	font-size: 0.8rem;
	font-weight: 300;
}

.chat-list {
	padding: 10px 5px 0 5px;
	line-height: 10px;
}

.chat-profile {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 999px;
	background-position:center center;
	background-repeat:no-repeat;
	background-size: cover;
}

.chat-title {
	padding-left: 10px;
	height: 100%;
	display: inline-block;
	font-size: 0.8rem;
	font-weight: 300;
	vertical-align: middle;
	cursor: pointer;
}

.chat-open-btn {
	padding-left: 10px;
	height: 100%;
	display: inline-block;
	font-size: 0.8rem;
	font-weight: 300;
	vertical-align: middle;
}