* {
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	background-color: #F9F9F9;
}

div {
	box-sizing: border-box;
}

#header {
	border-top: 5px solid #FFF3D8;
	background-color: white;
}

.nav {
	width: 500px;
	height: 30px;
	overflow: hidden;
}

.nav>ul {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.nav>ul li {
	float: left;
	list-style-type: none;
	width: 50%;
	height: 100%;
	text-align: center;
	color: #50401B;
}

#sub-content {
	background-color: white;
}

#sub-content-title {
	color: #50401B;
	font-size: 1.5rem;
	font-weight: bold;
}

hr {
	border: 0;
	height: 5px;
	background: #D6D3CA;
}

.beesImage {
	border-radius: 50px;
}

.myBees, .recommend {
	font-size: 0.9em;
	text-decoration: none;
	color: #50401B;
	font-weight: bold;
	vertical-align: middle;
}

.myBees:hover, .recommend:hover {
	color: #50401B;
	font-weight: bold;
	vertical-align: middle;
}

.makeBeesBtn {
	font-weight: bold;
	text-decoration: none;
	color: #50401B;
	border-radius: 10px;
	background-color: #F7D078;
}

.viewMoreBtn {
	font-weight: bold;
	text-decoration: none;
	color: white;
	border-radius: 25px;
	background-color: #50401B;
}

.viewMoreBtn:hover {
	font-weight: bold;
	text-decoration: none;
	color: white;
	border-radius: 25px;
	background-color: #50401B;
}

#main-content-title {
	color: #50401B;
	font-size: 1.5rem;
	font-weight: 300;
}

.categoryImg {
	border-radius: 5px;
}

.beesInfo {
	color: #50401B;
	font-size: 0.8rem;
}

.recommendCategory {
	color: #50401B;
	font-size: 0.5rem;
	background-color: white;
	border: 1px solid #50401B;
	border-radius: 8px;
	padding: 2px;
}

.categoryBtn {
	font-size: 0.7em;
	font-weight: bold;
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	display: inline-block;
	border: 1px solid #50401B;
	border-radius: 25px;
	background-color: #50401B;
	margin-bottom: 10px;
}

.categoryBtn:hover {
	font-size: 0.7em;
	font-weight: bold;
	text-decoration: none;
	color: #50401B;
	padding: 5px 10px;
	display: inline-block;
	border: 1px solid #50401B;
	border-radius: 25px;
	background-color: white;
	margin-bottom: 10px;
}