<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="file">
<select id="fileSelectAll" resultType="beesFile">
select 
file_no as fileNo,
board_no as boardNo,
original_file_name as originalFileName,
change_file_name as changeFileName,
file_path as filePath,
file_size as fileSize,
file_del_yn as fileDelYN
from feed_file
where file_del_yn='N'
and bees_no=#{beesNo}
</select>
<select id="fileSelectAllMyBees" resultType="beesFile">
select 
file_no as fileNo,
board_no as boardNo,
original_file_name as originalFileName,
change_file_name as changeFileName,
file_path as filePath,
file_size as fileSize,
file_del_yn as fileDelYN
from feed_file
where file_del_yn='N'
and bees_no in
<foreach collection="list" item="item" open="(" close=")" separator=",">
#{item}
</foreach>
</select>
<select id="fileSelectOne" resultType="beesFile">
select 
file_no as fileNo,
board_no as boardNo,
original_file_name as originalFileName,
change_file_name as changeFileName,
file_path as filePath,
file_size as fileSize,
file_del_yn as fileDelYN
from feed_file
where file_del_yn='N'
and board_no=#{bordNo}
</select>
<select id="fileSelectForDown" resultType="beesFile">
select 
file_no as fileNo,
board_no as boardNo,
original_file_name as originalFileName,
change_file_name as changeFileName,
file_path as filePath,
file_size as fileSize,
file_del_yn as fileDelYN
from feed_file
where file_del_yn='N'
and file_no=#{fileNo}
</select>
<update id="deleteFile">
update bees_file set file_del_yn='Y' where board_no = #{boardNo}
</update>
<insert id="insertFile" parameterType="beesFile">
insert into bees_file values(#{fileNo}, #{boardNo}, #{originalFileName}, #{changeFileName}, #{filePath}, #{fileSize}, default)
</insert>




</mapper>
